# investigraph.eu 🇪🇺

This is a collaborative collection of datasets that are common to use for *follow the money* investigations with european scope.

The datasets can be easily imported into [Aleph](https://alephdata.org) or other tools within the [followthemoney](https://followthemoney.tech) ecosystem.

This data catalog includes datasets maintained by [investigativedata.io](https://investigativedata.io) and [OpenSanctions](https://opensanctions.org).

## Datasets

Click on the datasets title to get more information on how to use it.

| Collection | Last update | Title |
|------------|-------------|-------|
{% for dataset in datasets %}| `{{ dataset.name }}` | {{ dataset.updated_at[:10] }} | [{{ dataset.title }}](./datasets/{{ dataset.name }}.md) |
{% endfor %}

## Get involved

This is a collaborative project. You can submit new datasets or data errors easily on various ways. [Read more](./contribute.md)

## Use the data

You can [browse the data online](https://aleph.investigativedata.org/datasets) or download bulk data for [non-commercial use](https://creativecommons.org/faq/#using-licensed-material) as defined by Creative Commons.

We can help to integrate this data into your research infrastructure, e.g. *Aleph*, or enrich and crossmatch data with other sources. [Just get in touch](./investigativedata.md) and we can see what we can do.

Commercial use of this data is not implemented yet. If you are interested in commercial use of the bulk data, contact us at [hi@investigativedata.org](mailto:hi@investigativedata.org)
