site_name: "investigraph.eu 🇪🇺"
site_url: https://investigativedata.github.io/investigraph-eu
repo_url: https://github.com/investigativedata/investigraph-eu
nav:
  - Start: index.md
  - Datasets:
    {% for dataset in datasets %}
    - datasets/{{ dataset.name }}.md
    {% endfor %}
  - Get involved:
    - contribute.md
    - development.md
  - About:
    - investigativedata.md
    - opensanctions.md
    - investigraph.md
theme:
  name: material
  custom_dir: overrides
  logo: https://cdn.investigativedata.org/style/logo_basic_dark.svg
  favicon: https://cdn.investigativedata.org/style/favicon.svg
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    # - navigation.footer
    - toc.follow
    - content.code.copy
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: material/web
      link: https://investigraph.dev
    - icon: material/mail
      link: mailto:hi@investigativedata.org
    - icon: material/github
      link: https://github.com/investigraph-eu
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
copyright: "||)·|()"
